body {
 font-family: Verdana, Arial, Helvetica, sans-serif;
}
.container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
}
.date-picker {
  margin-bottom: 20px;
}
.item {
  display: block;
  font-size: 13px;
  margin-bottom: 5px;
}
