@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  font-family: 'Roboto', sans-serif;;
  font-size: 100%;
  background-color: #1695A3;
}
*, *:before, *:after {
  box-sizing: border-box;
}
input,
button {
  outline: none;
}
.container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
}
h2 {
  color: #fff;
  font-weight: normal;
  font-size: 2rem;
}
.date-picker {
  margin: 10px 0 20px 0;
  background-color: #fff;
  padding: 20px 1.8rem;
  border-radius: 2px;
}
.year-picker {
  height: 32px;
  width: 200px;
  padding-left: 10px;
  border-radius: 2px;
  border: 2px solid #e1e1e1;
}
.month-picker {
  height: 32px;
  width: 200px;
  border-radius: 2px;
  border: 2px solid #e1e1e1;
}
.btn {
  border-radius: 2px;
  border: none;
  cursor: pointer;
  padding: 8px 10px;
}
.submit-btn {
  color: #fff;
  background-color: #eb7f00;
}
.hide {
  display: none;
}
.item {
  color: #fff;
  display: block;
  font-size: 13px;
  margin-bottom: 5px;
}
